<div class="about-container">
    <!-- <p>about works!</p> -->
    <div class="about-content">
        <h2>Про мене</h2>
        <p>Лікар ортопед-травматолог 1-ї категорії</p>
        <p>На данний момент працю в КНП "Білогірська БЛ" Хмельницька область</p>
        <p>Надаю всі можливі посуги по спеціальності як в плановому порядку та і в ургентному полядку враховуючи консервативне та оперативне лікування травма та ортопедичних захворювань</p>
        <br>
        <p>Навчався В ТДМУ ім. І. Я. Гобачавського (закінчив в 2008 р.). Інетернатура в ХОЛ та ТКОЛ по спеціальності ортопедія та травматологія. З 2010 року працював в Білогірській ЦРЛ. З 2014 по 2016 року навчався на клінічній ординатурі в Національному університеті охорони здоров'я України імені П. Л. Шупика з базою навчання КОКЛ. В подальшому працюю в КНП "Білогірська БЛ".</p>
        <p>Стаж роботи 15 років</p>
        <br>
        <p>Додаткове навчання мовам прогамумання в ITStep з 2021 року</p>
    </div>
</div>
<app-reviews></app-reviews>
