<!-- <div>
    <h2>Додавання нового контакту</h2>
    <form>
      <div>
        <label for="name">Ім'я:</label>
        <input type="text" id="name" [(ngModel)]="name" placeholder="Введіть ім'я">
      </div>
      <div>
        <label for="email">Email:</label>
        <input type="text" id="email" [(ngModel)]="email" placeholder="Введіть email">
      </div>
      <div>
        <label for="phone">Телефон:</label>
        <input type="text" id="phone" [(ngModel)]="phone" placeholder="Введіть номер телефону">
      </div>
      <button type="button" (click)="addContact()">Додати контакт</button>
    </form>
  </div>
  
  <div>
    <h2>Список контактів</h2>
    <ul>
      <li *ngFor="let contact of getAllContacts()">
        (Ім'я: {{ contact.name }}, Email: {{ contact.email }}, Телефон: {{ contact.phone }})
        <button type="button" (click)="removeContact(contact)">Видалити</button>
      </li>
    </ul>
  </div> -->
  <div class="contact-description">
    <h2>Контактна інформація</h2>
    <br>
    <p>Боголюбов Микола Миколайович</p>
    <p>Телефон: +30678620080</p>
    <p>e-mail: kolya-bogolyubov@i.ua</p>
  </div>

