<!-- <p>nav works!</p> -->
<ul>
    <!-- <li>
        <a routerLink="" routerLinkActive="active-link">Home</a>
    </li> -->
    <li>
        <a routerLink="" routerLinkActive="active-link">Portfolio</a>
    </li>
    <li>
        <a routerLink="/galery" routerLinkActive="active-link">Galery</a>
    </li>
    <li>
        <a routerLink="/about" routerLinkActive="active-link">About</a>
    </li>
    <li>
        <a routerLink="/reviews" routerLinkActive="active-link">Reviews</a>
    </li>
    <li>
        <a routerLink="/contact" routerLinkActive="active">Contact</a>
    </li>
    <li>
        <a routerLink="/order" routerLinkActive="active">Order</a>
    </li>
    <li>
        <a routerLink="/orderList" routerLinkActive="active">OrderList</a>
    </li>
</ul>
