<!-- <p>portfolio works!</p> -->
<div class="profile-box">
    <div class="profile-image">
        <img src="../../assets/img/ya.jpg" alt="Profile Photo">
    </div>
    <div class="profile-details">
        <h2>Боголюбов Микола Миколайович</h2>
        <p>Лікар ортопед-травматолог 1-ї категорії</p>
    </div>
</div>




<app-about></app-about>
<app-galery></app-galery>

<button on-click="showContact($event)">showContact</button>
<button (click)="showContactTwo($event)">showContactTwo</button>


